.main-content h1 {
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(240, 181, 191);
}

.warna-sidebar {
    background-color: pink;
}

span {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
}

.form-control {
    color: rgb(0, 0, 0);
}

.card-header h3 {
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(240, 181, 191);
}

.card-header td,
th {
    font-weight: bold;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(162, 79, 94);
}

.flex {
    display: flex;
    align-items: center;
}
.nav_image {
    display: flex;
    min-width: 55px;
    justify-content: center;
}
.nav_image img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    object-fit: cover;
}

/* Custom Sidebar */
.classgram-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: var(--gelap);
    padding: 15px 10px;
    box-shadow: 0 0 4px rgba(245, 254, 253, 0.5);
    transition: all 0.4s ease;
}

.classgram-sidebar a {
    text-decoration: none !important;
}

.classgram-sidebar.close {
    width: calc(55px + 20px);
}
.logo_items {
    gap: 8px;
}
.logo_name {
    font-size: 22px;
    color: white;
    font-weight: 500px;
    transition: all 0.3s ease;
}
.classgram-sidebar.close .logo_name,
.classgram-sidebar.close #lock-icon,
.classgram-sidebar.close #sidebar-close {
    opacity: 0;
    pointer-events: none;
}
#lock-icon,
#sidebar-close {
    padding: 10px;
    color: #4070f4;
    font-size: 25px;
    cursor: pointer;
    margin-left: -4px;
    transition: all 0.3s ease;
}
#sidebar-close {
    display: none;
    color: white;
}

.menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    overflow-y: auto;
    height: calc(100% - 82px);
}
.menu_container::-webkit-scrollbar {
    display: none;
}
.menu_title {
    position: relative;
    height: 50px;
    width: 55px;
    color: white;
}
.menu_title .title {
    margin-left: 15px;
    transition: all 0.3s ease;
}
.classgram-sidebar.close .title {
    opacity: 0;
}
.menu_title .line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 20px;
    border-radius: 25px;
    background: white;
    transition: all 0.3s ease;
}
.menu_title .line {
    opacity: 0;
}
.classgram-sidebar.close .line {
    opacity: 1;
}
.item {
    list-style: none;
}
.link {
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
}
.link:hover {
    background-color: rgba(245, 254, 253, 0.7);
}
.link:hover span,
.link:hover i {
    color: var(--gelap) !important;
}

.active {
    background-color: var(--putih);
}
.active span,
.active i {
    color: var(--gelap) !important;
}

.link span {
    white-space: nowrap;
}
.link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.sidebar_profile {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.sidebar_profile .name {
    font-size: 18px;
    color: white;
}
.sidebar_profile .email {
    font-size: 15px;
    color: white;
}
